{% load static %}
<!-- [ Header Topbar ] start -->
<header class="pc-header">
  <div class="m-header">
    <a href="/" class="pc-link">
      <hi class="fs-2 text-primary">
        <i class="ti ti-coffee">Team D</i>
      </h1>
    </a>
    <!-- ======= Menu collapse Icon ===== -->
    <div class="pc-h-item">
      <a href="#" class="pc-head-link head-link-secondary m-0" id="sidebar-hide">
        <i class="ti ti-menu-2"></i>
      </a>
      <label class="pc-head-link head-link-secondary arrow-none me-0">
        <input type="checkbox" id="p_dark_mode" class="d-none">
        <i class="ti ti-sun" id="p_mode_icon"></i>
      </label>
    </div>
  </div>
  <div class="header-wrapper"> 
  <div class="ms-auto">
    <ul class="list-unstyled">  
      <li class="pc-h-item">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <a href="{% url 'admin:logout' %}" class="dropdown-item">
          {% else %}
          <a href="{% url 'logout' %}" class="dropdown-item">
          {% endif %}
            <i class="ti ti-logout"></i>
            <span>Logout</span>
          </a>
        {% endif %}        
      </li>
    </ul>
  </div>
</header>
<!-- [ Header ] end -->
