{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Word Cloud {% endblock title %}
{% block content %}
  <div class="pc-container text-bg-dark">
    <h2 class="text-center p-2 text-bg-dark" style="white-space: pre-line">{{ title }}</h1>
    <div class="pc-content text-bg-dark">
      <div class="row">
        <div class="col-lg-3 d-flex align-items-stretch">
        </div>
        <div class="col-lg-6 d-flex align-items-stretch">
          <div class="card dashnum-card text-bg-dark">
            <img src="{% static 'assets/images/house_word_cloud.svg' %}" alt="House word cloud"/>
          </div>
        </div>
        <div class="col-lg-3 d-flex align-items-stretch">
        </div>
      </div>
    </div>
    <div class="pc-content text-bg-dark">
      <div class="row">
        <div class="col-lg-1 d-flex align-items-stretch">
        </div>
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="card dashnum-card text-bg-dark">
            <div class="card-body">
              <h2 class="card-title text-center p-2 text-blue-100">Kuala Lumpur</p>
            </div>
            <img src="{% static 'assets/images/kl_word_cloud.svg' %}" alt="Kuala Lumpur word cloud"/>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="card dashnum-card text-bg-dark">
            <div class="card-body">
              <h2 class="card-title text-center p-2 text-blue-100">Selangor</p>
            </div>
            <img src="{% static 'assets/images/selangor_word_cloud.svg' %}" alt="Selangor word cloud"/>
          </div>
        </div>
        <div class="col-lg-1 d-flex align-items-stretch">
        </div>
      </div>
    </div>
    <div class="pc-content text-bg-dark">
      <div class="row">
        <div class="col-lg-1 d-flex align-items-stretch">
        </div>
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="card dashnum-card text-bg-dark">
            <div class="card-body">
              <h2 class="card-title text-center p-2 text-blue-100">Johor</p>
            </div>
            <img src="{% static 'assets/images/johor_word_cloud.svg' %}" alt="Johor word cloud"/>
          </div>
        </div>
        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="card dashnum-card text-bg-dark">
            <div class="card-body">
              <h2 class="card-title text-center p-2 text-blue-100">Penang</p>
            </div>
            <img src="{% static 'assets/images/penang_word_cloud.svg' %}" alt="Penang word cloud"/>
          </div>
        </div>
        <div class="col-lg-1 d-flex align-items-stretch">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
